/*************************Genericos***************************/

body {
    color: #1D1C3F;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.button {
    border: none;
    color: inherit;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
}

.rounded-20 {
    border-radius: 20px;
    overflow: hidden;
}

.button-primary {
    background-color: #59A15B;
    color: white;
}

.button-secondary {
    background-color: rgba(89, 161, 91, 0.32);
    color: #444444;
}

.w-full {
    width: 100%;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 15px;
    margin-bottom: 20px;
    width: 100%;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #66afe9;
    outline: none;
}

input[type="text"]:not(:placeholder-shown), input[type="password"]:not(:placeholder-shown) {
    border-color: #66afe9;
}

a {
    color: #4D4D4D;
    text-decoration: none;
}

a:not(.button) {
    text-decoration: underline;
}

h4{
    font-size: 1rem;
}

/*************************Footer*************************/

footer{
    display: flex;
    background-color: rgba(89, 161, 91, 0.32);
    flex-direction: column;
    justify-content: center;
}

footer .first-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    gap: 4rem;
}

footer .second-container{
    display: flex;
    background-color: rgba(89, 161, 91, 0.32);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

footer .unlam{
    width: 33%;
    display: flex;
    flex-direction: column;
}

footer .links h4{
    width: 100%;
}

footer .links{
    width: 66%;
    display: flex;
    flex-direction: column;
}

footer .links-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4rem;
}

footer .info{
    font-weight: 300;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer .info a{
    font-weight: 300;
    line-height: 2rem;
    text-decoration: none;
}


@media only screen and (max-width: 1023px) {
    footer .first-container{
        display: flex;
        flex-direction: column;
    }

    footer .unlam{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 633px){
    footer .links-container{
        flex-direction: column;
        gap: 0;
    }
}